#include <stdio.h>
#include <stdlib.h>
int main()
{
    int x1, y1;
    int x2 = 0;
    int y2 = 0;
    x1 = 0;
    y1 = 0;
    printf("Введите координаты белой пешки \n");
    scanf("%d%d", &x1, &y1);
    printf("Введите координаты чёрной пешки \n");
    scanf("%d%d", &x2, &y2);
    if ( (x1 < 9) && (x1 > 0) && (y1 < 9) && (y1 > 0) )
    {
        printf("Белая пешка на шахматном поле, ее координаты x=%d y=%d \n", x1, y1 );
        if ( (x2 < 9) && (x2 > 0) && (y2 < 9) && (y2 > 0) )
        {
            printf("Чёрная пешка на шахматном поле \n");
            if ( ( abs(x2 - x1) == 1 ) && ( abs(y2 - y1) == 1 ) )
            {
                if ( y1 >y2)
                {
                    printf (" пешка не может пойти назад \n");
                }
                else
                {
                    printf("Черная пешка может срубить");
                }
            }
            else
            {
                printf("Белая пешка не рубит черную");
            }
        }
        else
            {
                printf("Белая пешка на шахматном поле, а чёрная нет");
            }
    }
    else
    {
        printf("Куда ты пешку поставил?!");
    }
    
    return 0;
}
